:root {
    font-size: clamp(1rem, 0.8rem + 1.5vw, 2rem);
    line-height: 1.5;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
}

main {
    flex: 1;
}